html *
{
   font-size: 1em;
   color: #c1c1c1;
   font-family: sans-serif !important;
   background-color: #1c1c1c;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

body {
  max-width: 90%;
  min-height: 100%;
  margin: auto;
}

div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

button {
  padding: 15px;
  border: none;
  background-color: #c1c1c1;
  color: #1c1c1c;
  text-decoration: none;
  border-radius: 10px;
}

div.container {
  position:relative;
  max-width: 100%;
  min-height: 90vh;
  text-align: center;
  margin: auto;
}

.clock {
position: absolute;
top:25%;

}


@media (orientation: landscape) {
  .clock {
    top:20%;
  }
}

@media (orientation: portrait) {
  .clock {
    top:30%;
  }
}

.status-bar {
  padding: 0;
}

#timerLabel {
  font-size: 20vw;
  margin: 20px 0;
}

span.connected {
  color: rgba(39, 71, 78, 1); /*verde*/
}
span.disconnected {
  color: #63372C; /*rosso*/
}


.start-at > label {
  display: block;
  margin: 10px 0;
}

.start-at > input {
  display: block;
  width: 100%;
  text-align: center;
  height: 40px;
  margin: 10px 0;
  border: solid 1px #c1c1c1;
  border-radius: 5px;
}
